<div class="container section-container">
      <h1 class="light-green-text">Events</h1>
      <div class="row">
        <%= render :partial => "shared/event" %>
        <%= render :partial => "shared/event" %>
        <%= render :partial => "shared/event" %>
        <%= render :partial => "shared/event" %>
        <%= render :partial => "shared/event" %>
        <%= render :partial => "shared/event" %>
      </div>
</div>