<!DOCTYPE html>
<html>

<head>

  <title>University of Melbourne Infosec Club</title>
</head>

<body id="home" class="scrollspy">
  <%= render :partial => "shared/navbar" %>

  <!-- Section: Slider -->
  <section class="slider section">
    <ul class="slides">
      <li>
        <%= image_tag("background1.jpg") %>
        <div class="caption center-align">
          <h2>Learn About Infosec</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nesciunt voluptas qui. Tenetur, sapiente consequatur.</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <%= image_tag("background2.jpg") %>
        <div class="caption left-align">
          <h2>Get Involved in the Community</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nesciunt voluptas qui. Tenetur, sapiente consequatur.</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <%= image_tag("background3.jpg") %>
        <div class="caption right-align">
          <h2>Learn to Hack</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nesciunt voluptas qui. Tenetur, sapiente consequatur.</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
    </ul>
  </section>

  <!-- Section: Tabs -->
  <section id="tabs" class="section section-tabs">
    <div class="container section-container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel center tab-card">
            <i class="material-icons large light-green-text">verified_user</i>
            <h5>Secure Applications</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, aut.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel center tab-card">
            <i class="material-icons large light-green-text">cast</i>
            <h5>Use Cutting Edge Technology</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, aut.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel center tab-card">
            <i class="material-icons large light-green-text">supervised_user_circle</i>
            <h5>Network with Others</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, aut.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section:  Gallery -->
  <section id="gallery" class="scrollspy section section-gallery grey lighten-4">
    <div class="container section-container gallery-container">
      <h1 class="center">Gallery</h1>
      <div class="carousel">
        <a href="#one!" class="carousel-item">
          <%= image_tag("img1.jpg", class: "materialboxed", width: "100%") %>
        </a>
        <a href="#two!" class="carousel-item">
          <%= image_tag("img2.jpg", class: "materialboxed", width: "100%") %>
        </a>
        <a href="#three!" class="carousel-item">
          <%= image_tag("img3.jpg", class: "materialboxed", width: "100%") %>
        </a>
        <a href="#four!" class="carousel-item">
          <%= image_tag("img4.jpg", class: "materialboxed", width: "100%") %>
        </a>
        <a href="#five!" class="carousel-item">
          <%= image_tag("img5.jpg", class: "materialboxed", width: "100%") %>
        </a>
      </div>
    </div>
  </section>

  <!-- Section: Events -->
  <section id="events" class="scrollspy section section-events">
    <div class="container section-container">
      <h1>Upcoming Events</h1>
      <table class="striped">
        <thead>
          <tr>
            <th>Event</th>
            <th>Date & Time</th>
            <th>Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @events.all.each do |event| %>
          <tr>
            <th><%= event.title %></th>
            <th><%= event.date %></th>
            <th><%= event.location %></th>
            <th>
              <button class="btn light-green">Details</button>
            </th>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Section: Footer -->
  <footer class="page-footer light-green darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">University of Melbourne Information Security Club</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#about">About Us</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#gallery">Gallery</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#contacts">Contacts</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#events">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        UMISC © 2018 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!-- Section: Modal -->
  <!-- MODAL -->
  <div class="modal" id="modal1">
    <div class="modal-header center">
      <h3>Sign Up</h3>
    </div>
    <div class="modal-content">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Degree">
      <input type="text" placeholder="Password">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>

  <%= render :partial => "shared/jquery" %>
</body>

</html>